<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <link href="/static/milligram.min.css" rel="stylesheet">

    <style>
        .hidden {
            display: none !important;
        }

        .container {
            margin: 0 auto;
            max-width: 80rem;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Simple todo list</h1>
    <header class="row">
        <div class="column">
            <a href="#" id="singIn" class="float-right">Sing In</a>
        </div>
    </header>
    <div class="row">
        <form class="column" id="create-task-form">
            <label>Title *
                <input name="title" id="title" type="text" placeholder="Title" required></label>
            <label>Description *
                <textarea name="description" id="description" cols="30" rows="10" required
                          placeholder="Description"></textarea>
            </label>
            <label>Priority
                <select name="priority" id="priority">
                    <option value="L">Low</option>
                    <option value="M">Medium</option>
                    <option value="H">High</option>
                </select>
            </label>
            <button id="save" class="float-right">Save</button>
        </form>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="tasks"></tbody>
        </table>
    </div>
</div>
<script>
    let auth = false;

    const baseUrl = 'http://127.0.0.1:8000/api/v1';

    const tbody = document.getElementById('tasks');

    const singIn = document.getElementById("singIn");

    const createTaskForm = document.getElementById('create-task-form');
    createTaskForm.classList.add('hidden');

    // создание строки таблицы
    function createRow(t) {
        const tr = document.createElement('tr');
        const tdId = document.createElement('td');
        tdId.append(document.createTextNode(t.id));
        const tdTitle = document.createElement('td');
        tdTitle.append(document.createTextNode(t.title));
        const tdCreated = document.createElement('td');
        tdCreated.append(document.createTextNode(t.created));
        const tdAction = document.createElement('td');
        if (auth) {
            tdAction.innerHTML = `<a href="${baseUrl}/tasks/${t.id}">Delete</a>`;
        } else {
            tdAction.innerHTML = `<a href="${baseUrl}/tasks/${t.id}" class="hidden">Delete</a>`;
        }
        tr.append(tdId, tdTitle, tdCreated, tdAction);
        return tr;
    }

    // заполнение таблицы данными
    function fillTable(tasks) {
        tbody.innerHTML = '';
        tasks.results.forEach(t => {
            tbody.append(createRow(t));
        });
    }

    // выгрузка данных методом GET посредством AJAX
    fetch(`${baseUrl}/tasks/`, {
        method: 'GET'
    })
        .then(response => response.json())
        .then(fillTable);

    function getCookie(name) {
        const matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ))
        return matches ? decodeURIComponent(matches[1]) : undefined
    }

    // сохранение данных методом POST
    const btnSave = document.getElementById('save');
    const inputTitle = document.getElementById('title');
    const inputDescription = document.getElementById('description');
    const selectPriority = document.getElementById('priority');

    function clearInput() {
        inputTitle.value = inputDescription.value = '';
        selectPriority.value = 'L';
    }

    function showError(message) {
        Swal.fire({
            title: message,
            text: 'It is not possible',
            icon: 'error',
            confirmButtonText: 'Cancel',
            buttonsStyling: false
        })
    }

    btnSave.addEventListener('click', (e) => {
        e.preventDefault(); // не отправлять данные формы

        const task = {
            title: inputTitle.value,
            description: inputDescription.value,
            priority: selectPriority.value,
            tags: [1]
        };

        if (!task.description || !task.title) {
            showError('Fill required fields');
            inputTitle.focus();
            return;
        }

        function appendTask(task) {
            console.log(task);
            if (task && !task.error) {
                tbody.append(createRow(task));
                clearInput();
            } else {
                showError(task.error)
            }
        }

        fetch(`${baseUrl}/tasks/`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
                'Authorization': `Bearer ${localStorage['access']}`
            },
            body: JSON.stringify(task)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                return {"error": response.statusText};
            })
            .then(appendTask)
            .catch(showError);
    });

    tbody.addEventListener('click', e => {
        e.preventDefault();
        console.log(e.target);
        if (e.target.nodeName !== 'A') {
            return;
        }

        // удаляем строчку
        function deleteRow(response) {
            console.log(response);
            if (response.ok) {
                e.target.parentNode.parentNode.remove();
            }
        }

        // если гипперссылка - удаляем
        fetch(`${e.target.href}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Authorization': `Bearer ${localStorage['access']}`
            }
        }).then(deleteRow)
            .catch(showError);
    });

    function updateUI() {
        createTaskForm.classList.remove('hidden');
        singIn.classList.add('hidden');
        tbody.childNodes.forEach(tr => {
            if (tr.nodeName !== 'TR') return;
            tr.lastChild.firstChild.classList.remove('hidden');
        })
    }

    function login(username, password) {
        fetch(`${baseUrl.replace('/v1', '')}/token/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                username: username,
                password: password
            })
        }).then(response => {
            if (response.ok) {
                response
                    .json()
                    .then(jwt => {
                        console.log('jwt: ', jwt);
                        localStorage['access'] = jwt['access'];
                        localStorage['refresh'] = jwt['refresh'];
                        auth = true;
                        updateUI();
                    });
            } else {
                showError("Invalid Login or Password ")
            }
        }).catch(showError)
    }

    singIn.addEventListener('click', (e) => {
        e.preventDefault();
        console.log('sing in');
        Swal.fire({
            title: 'Sing In',
            html: `<input name="login" id="login" placeholder="Login"/>
                   <br/>
                   <input name="password" id="password" type="password" placeholder="Password"/><br/>`,
            buttonsStyling: false
        }).then((result) => {
            if (result.isConfirmed) {
                const username = document.getElementById("login").value;
                const pass = document.getElementById('password').value;
                login(username, pass);
                Swal.fire({
                    title: 'Welcome',
                    text: 'Your could now add new task',
                    buttonsStyling: false
                })
            }
        })
    });
</script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>

</html>